*{
	font-family: 'Jura',cursive;
	font-weight: 700;
	padding: 0px;
	margin: 0px;
}



body{
	padding: 0px;
	margin: 0px;
}

.nav{
	width: 100%;
	height: 100px;
	/*position: sticky;
	top: 0px;*/

	/*border-bottom: 0.5px solid #212529;*/
}

.nav-top{
	width: 100%;
	height: 30%;
	color: white;
	display: flex;
	justify-content: space-around;
	font-size: 13px;
	background-color: #212529;
}
.nav-top p{
		margin: 0px 13px 0px 13px;
}


.left{
	width: 40%;
	display:flex;
	align-items: center;
	margin-left: 10px;
}

.right{
	width: 42%;
	display:flex;
	justify-content: flex-end;
	align-items: center;

}
.socials{
	margin: 0px 15px;
	width: 22px;
	height: 22px;
	fill:white;
	transition: all 0.7s;
}

.socials:hover{
	width: 25px;
	height: 25px;
	fill:#044aa0;
	transition: all 0.7s;

}


.nav-bot{
	width: 100%;
	height: 70%;
	display: flex;
	background-color: white;
	
	
}

.logo{
	width: 18%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}

.logot{
	color: black;
	font-size: 22px;
	letter-spacing: 2px;
	margin-right:10px ; 
	/*writing-mode: vertical-rl;*/
	/*text-orientation: upright;*/
}
.logot::first-letter{
	font-size: 45px;
	color:#044aa0 ;
}

.nav-links{
	width: 60%;
	display: flex;
	justify-content: space-around;
	align-items:center;
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 15px;
}

.nav-links a:hover{
	transform: scale(1.1);
	font-size: 16px;
	letter-spacing: 2px;
	transition: all 0.5s;
}


a{
text-decoration: none;
color:black;
transition: all 0.7s;


}


.book{
	width: 22%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.book button{
	width:55%;
	height: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	border: none;
	letter-spacing:1.5px;
	transition: all 0.5s;
	color: white;
	background-color:#044aa0;
	/*margin-left:5px;*/
}

.log{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.log >img{
	width: 30px;
	height: 30px;

}

.log >a{
	/*margin-right:25px;*/
	transition: all 0.5s;
	padding: 5px;

}

/*.log:hover{
	transform: scale(1.03);
	transition: all 0.5s;
	letter-spacing: 1px;
	/*font-size: 16px;*/
	/*border:3px solid #044aa0;*/
	
/*}*/

.book button:hover{
	background-color:#000000d4;
	transition: all 0.5s;
}


.logo >img{
	width: 80px;
	height: 80px;
	
}




.footer{
	width: 100%;
	height: 230px;
	display: flex;
	justify-content: space-around;
	background-color:#212529;
}


.fot{
	width: 30%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
	color: white;
}

.fot > p {
	font-size: 12px;
	letter-spacing: 1px;
}

.fotlogo{
	width:100%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fotlogo > h1{
	font-size: 50px;
	padding: 10px;
}
.fotimg{
	width: 110px;
	height: 110px;
	padding: 10px;

}

.fotmenu{
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: white;

}


.fotmenu> h1{
	font-size: 30px;
	padding-bottom: 2px;
	border-bottom: 3px solid white;
}
.list{
	list-style: none;
	margin-top: 15px;
	letter-spacing: 1.5px;
	
}
li{
	margin:10px 0px;
}

li a{
	font-size: 12px;
	text-decoration: none;
	color: white;
	/*border-bottom: 1px solid white;*/

}

.hoz{
	margin-top: 5px;
	width: 250px;
	height: 1px;
	background-color: white;
	border:none;
}

li a:hover{
	color: #044aa0;
}



li::before{ 
    content: "\00BB"; 
    padding: 10px 10px 10px 0px;
        } 


.fotlinks{
	width: 27%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	/*border:1px solid red;*/
	color: white;
}

.fotlinks > h1{
	font-size: 30px;
	padding-bottom: 2px;
	border-bottom: 3px solid white;
	margin-top: 10px;
}

.fotsocial{
	width: 100%;
	height: 63%;
	/*border:1px solid red;*/
	margin-top: 20px;
	display: flex;
	justify-content: space-around;

}

.fotsocial svg{
	width: 30px;
	height: 30px;
	fill:white;
	transition: all 0.2s;
}

.fotsocial svg:hover{
	fill:#044aa0;
	transition: all 0.2s;

}

.arrow{
	width: 100%;
	height:30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	background-color: #044aa0;

}


.title{
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../images/room2.jpg');
	background-position: 0% 50%;
	background-size: cover;
	color:white;
	position: relative;
}

.title:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #0000007a;
}

.title h1{
	font-size: 40px;
	z-index: 1

}


@media(max-width: 1100px){
	.nav-top p{
		display: none;
	}

	.book button{
		font-size: 13px;
	}

	.nav-links{
		width: 65%;
		/*justify-content: center;*/
	}

	.nav-links a{
	 	font-size: 15px;
	 	padding: 0px 5px;
	 	margin: 0px 10px;
	 }

	 .logo{
	 	width: 15%;
	 }

	 p.logot{
	 	display: none;
	 }

}



@media(max-width: 800px){
	.book > button{
		display: none;
	}

	.nav-links{
		width: 70%;
		/*justify-content: center;*/
	}

	.nav-links a{
	 	font-size: 13px;
	 	padding: 0px 5px;
	 	margin: 0px 10px;
	 }

	 .book{
	 	width: 15%;

	 }
}


