/**{
	font-family: 'Jura',cursive;
	font-weight: 700;
	padding: 0px;
	margin: 0px;
}



body{
	padding: 0px;
	margin: 0px;
}

.nav{
	width: 100%;
	height: 130px;
}

.nav-top{
	width: 100%;
	height: 30%;
	color: white;
	display: flex;
	justify-content: space-around;
	font-size: 13px;
	background-color: #212529;
}
.nav-top p{
		margin: 0px 13px 0px 13px;
}


.left{
	width: 40%;
	display:flex;
	align-items: center;
	margin-left: 10px;
}

.right{
	width: 42%;
	display:flex;
	justify-content: flex-end;
	align-items: center;

}
.socials{
	margin: 0px 15px;
	width: 22px;
	height: 22px;
	fill:white;
	transition: all 0.7s;
}

.socials:hover{
	width: 25px;
	height: 25px;
	fill:#044aa0;
	transition: all 0.7s;

}


.nav-bot{
	width: 100%;
	height: 70%;
	display: flex;
	background-color: white;
	
	
}

.logo{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}

.logot{
	color: black;
	font-size: 26px;
	letter-spacing: 2px;
	margin-right:10px ; 
}
.logot::first-letter{
	font-size: 45px;
	color:#044aa0 ;
}

.nav-links{
	width: 60%;
	display: flex;
	justify-content: space-around;
	align-items:center;
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 17px;
}

.nav-links a:hover{
	transform: scale(1.1);
	font-size: 18px;
	letter-spacing: 2px;
	transition: all 0.5s;
}


a{
text-decoration: none;
color:black;
transition: all 0.7s;


}


.book{
	width: 20%;
	height: 100%;
}


.book button{
	width: 70%;
	height: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	border: none;
	letter-spacing:1.5px;
	transition: all 0.5s;
	color: white;
	background-color:#044aa0;
	margin-left: 15px;
}

.book button:hover{
	background-color:#000000d4;
	transition: all 0.5s;
}*/

/*
.nav-bot img{
	width: 100px;
	height: 100px;
	
}
*/

.banner{
	width: 100%;
	height: 600px;
	background-image: url('../images/boat.jpg');
	background-size: cover;
	background-position: bottom;
	color: white;
	display: flex;
	justify-content: center;
	align-items:center;

}

.banner-text{
	width: 100%;
	height: 50%;
	text-align: center;
	background-color: #6b68681c;

	/*border:1px solid black;*/
	margin-bottom: 80px;
	font-size: 55px;
}


.service{
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/*border:1px solid black;*/
}

.service h1{
	font-size: 60px;
	border-bottom: 6px solid #177cf7;
	margin: 20px 0px 40px 0px;
	padding: 0px 60px; 
	font-weight: 500;

}
.service h1::first-letter{
	font-size: 70px;
	color:#044aa0;
}


.icons{
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: space-around;
	/*border:2px solid black ;*/
	text-align: center;
}


.service-icons{
	width: 100px;
	height: 100px;
}

.service-pics{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: space-around;
	/*border:1px solid black;*/
}

.ser-picl{
	width: 48%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*border:1px solid black;*/
}

.ser-picr{
	width: 48%;
	height:100%;
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-around;
	/*border:1px solid black;*/
}



.tradeal{
	width: 100%;
	height: 45%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.samediv{
	width: 48%;
	height: 100%;
	background-size: cover;
	border-radius: 10px;
	/*background-position: center;*/
}

.transport{
	background-image: url(../images/transport.jpg);

}

.deals{
	background-image: url(../images/deals.jpg);
}

.care{
	width: 100%;
	height: 50%;
	background-image: url(../images/care.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 10px;

}

.rest{
	background-image: url('../images/rest.jpg');
}

.hotel{
	background-image: url('../images/hotel.jpg');
}



.room{
	width: 100%;
	height: 530px;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.roomdiv{
	width: 49%;
	height: 100%;
	/*border:1px solid black;*/

}
.room-pic{
	background-image: url(../images/room1.jpg);
	background-size: 150%;
	background-position: center;
	transition: all 0.5s;
}

.room-pic:hover{
	/*background-image: url(../images/room1.jpg);*/
	transition: all 0.5s;
	background-size: 133%;
}

.room-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	background-color:#0e2737;
}


.room-info h1, .room-info h3{
	margin-left: 80px;
	margin-bottom: 25px;
	font-weight: 500;

}


.room-title{
	font-size: 62px;
}

.room-info span{
	display: inline-block;
	width: 130px;

}

.room-price{
	font-size: 40px;
	color:#1cc3b2;
}

.viewd{
	width: 150px;
	height: 50px;
	font-weight: 900;
	letter-spacing: 0.5px;
	border:none;
	font-size: 17px;
	margin-left: 80px;
	transition: all 0.5s;
	margin-top: 50px;
	background-color: #1cc3b2;
}

.viewd:hover{
	transition: all 0.5s;
	background-color: white;
}



.package{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
}

.package h1{
	font-size: 60px;
	border-bottom: 6px solid #177cf7;
	margin: 20px 0px 40px 0px;
	padding: 0px 60px; 
	font-weight: 500;

}
.package h1::first-letter{
	font-size: 70px;
	color:#044aa0;
}


.tours{
	width: 90%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	/*border:1px solid black;*/

}


/*.tours a {
	display:block;

}*/


.tours h2 , small{
	margin:12px 0px 15px 17px; 
}


.tour-item{
	width: 22%;
	height: 360px;
	border:0.5px solid #b1c4ec99;
	margin:15px;
	box-shadow:0px 0px 10px 1px #b1c4ec99;;
	/*text-align: left;*/
	position: relative;


}

.tour-img{
	width: 100%;
	height: 60%;
	object-fit: cover;
	object-position: center;
}

.tour-book{
	width: 100%;
	height: 12%;
	/*border:1px solid black;*/
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tour-book button{
	width: 65%;
	height: 100%;
	border:none;
	letter-spacing:1.5px;
	font-weight: 700;
	font-size: 18px;
	transition: all 0.5s;
	color: white;
	text-align: center;
	position: relative;
	background-color:#044aa0;

}
.tour-book button:hover{
	background-color:#000000d4;
	transition: all 0.5s;
}

.triangle-right {
	position: absolute;
    top: 4%;
    left: 0;
    border-top: 20px solid transparent;
    border-left: 25px solid white;
    border-bottom: 20px solid transparent;
    }




.rating{
	width: 100%;
	height: 5%;
	/*border:1px solid black;*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 20px;


}

.stars{
	width: 80px;
	height: 80px;
	margin-left: 15px;
	/*position: absolute;*/
	/*bottom: 25px;*/
	/*right: 10px;*/
}




















