.login{
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../images/offline.jpg');
	background-size: cover;
	background-position: center;
	position: relative;

}

.login:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top:0%;
	left: 0%;
	background-color: #00000066;
}

.log_title{
	width: 40%;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border:1px solid black;*/
	font-size: 20px;
	color: white;
	letter-spacing: 5px;
	background-color:#0f3a99; 
	border:1px solid #c1bcbc78;
	margin-top: 20px;
	z-index: 1;


}

.form{
	width: 40%;
	height: 450px;
	display:flex;
	flex-direction: column;
	background-color: white;
	justify-content: center;
	align-items: center;
	border:1px solid #c1bcbc78;
	z-index: 1;
	letter-spacing: 1px;
	margin-bottom: 20px;

}

#logerror{
	color: red;
	text-transform: uppercase;
}

.input{
	width: 370px;
	height: 30px;
	margin:15px 0px;
	padding: 0px 10px;
}

.sub{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.error{
	color: red;
	font-size: 18px;
	font-weight: 700;
}

.dnone{
	display: none;
}


.foreg{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-between;
	/*border:1px solid black;*/
}





.foreg a{
	color:#0f3a99;
	font-size: 15px;
}



.submit{
	width: 160px;
	height: 45px;
	font-size: 16px;
	margin-top:10px;
	color: white;
	background-color:#0f3a99; 
	border:none;
	transition: all 1s;
}

.submit:hover{
	transition: all 0.5s;
	transform: scale(1.05);
}