.packs{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.title{
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../images/japan.jpg');
	background-position: 0% 80%;
	background-size: cover;
	color:white;
	position: relative;
	margin-bottom: 30px;
}

.title:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #0000007a;
}

.title h1{
	font-size: 40px;
	z-index: 1

}



.pack_items{
	width:100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pack_card{
	width: 90%;
	height: 250px;
	display: flex;
	margin:20px 0px;
	/*border:1px solid #0866f354;*/
	background-color: #3f95ef36;

	
}

.pack_card img{
	width: 30%;
	height: 100%;
	object-fit: cover;
	/*border:1px solid red;*/

}


.card_left{
	width: 65%;
	height: 100%;
	margin-left:25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*border:1px solid red;*/

}

.card_header{
	width: 100%;
	height: auto;
	display: flex;

}

.card-top{
	width: 50%;
	height: 80px;
	display: flex;
}


.top-left{
	flex-direction: column;
	justify-content: space-between;
}

.top-right{
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.top-right a{
	display: inline-block;
	width: 155px;
	padding:15px 6px;
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #044aa0;
	transition: all 0.5s;
	border:4px solid #044aa0;


	
}

.top-right a:hover{
	background-color:#000000d4;
	transition: all 0.5s;
	border:4px solid #4e98ff;

}
