.reg{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../images/offline.jpg');
	background-size: cover;
	background-position: center;
	position: relative;

}

.reg:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top:0%;
	left: 0%;
	background-color: #00000066;
}


.main{
	width: 45%;
	height: 650px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	background-color: white;
	margin: 20px 0px;

}
.rtitle{
	width: 100%;
	height: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0f3a99;
	color: white;
	font-size: 20px;
}

.rtitle > img{
	width: 70px;
	height: 70px;
	margin: 0px 25px 0px 0px;
}

.regform{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items:center;
	/*margin-top: 30px;*/
	}

.input{
	width: 380px;
	height: 30px;
	margin:8px 0px;
	padding: 0px 10px;
}

small{
	font-size: 17px;
	margin: 25px 0px;
}

.submitdiv{
	width: 100%;
	height: 12%;
	display: flex;
	justify-content: center;
	/*border:1px solid black;*/
}

.submitdiv > input{
	width: 50%;
	height: 100%;
	font-size: 20px;
	background-color:#0f3a99;
	color:white;
	border:none;
	margin-top: 10px;

}


.error{
	width: 99.50%;
	height: 40px;
	display: flex;
	justify-content:center;
	align-items: center;
	background-color: #f5070773;
	border:2px solid red;
	/*color: red;*/
}

.dnone{
	display: none;
}