.room{
	width: 80%;
	height: auto;
	margin: auto;
}

.roomds{
	width: 100%;
	height: 270px;
	display: flex;
	margin: 70px 0px;
	/*background-color: grey;*/
	border:1px solid #044aa0;
}
.roominfo{
	width: 65%;
	height: 100%;
}


.roomds img{
	width: 35%;
	height: 100%;
	object-fit: cover;
}

.rheader{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #044aa0;
	color: white;
	transition: all 1s;

	/*border:1px solid red;*/

}

.rbody{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	/*border:1px solid black;*/
}

.rfooter{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #044aa0;
	color: white;
	transition: all 1s;


}

table{
	width: 100%;
	text-align: center;
	padding:5px;

}
th{
	font-weight: 500;

}

td{
	width: 20%;
	padding:15px 0px;
}


.rfooter a{
	text-decoration: none;
	color: white;
	font-size:25px;
	letter-spacing: 2px;

}


.rfooter:hover , .rheader:hover{
	background-color:#000000d4;
	transition: all 1s;
}




/*.rfooter a:hover{
	color: black;
	

}*/


