.tour_details{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.title{
	width: 100%;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-image: url('../images/bridge.jpg'); */
	background-size: cover;
	background-position: 0% 55%;
	color: white;
	position: relative;
}

.title:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #0000009c;


}


.title h1{
	font-size: 55px;
	font-weight: 600;
	z-index: 1;
	letter-spacing: 2.5px;
}

.details{
	width: 85%;
	height: auto;
	display:flex;
	flex-direction: column;
	margin-top: 60px;


	/*border:1px solid black;*/

}

.de-title{
	width: 100%;
	height: 600px;
	position: relative;
	/*border:1px solid black;*/


}

.de-title > h1{
	font-size: 60px;
	font-weight:500;


}

.de-title > h1::first-letter{
	font-size: 70px;
	color:#044aa0 ;
}

.hr{
	height: 3px;
	border:none;
	background-color: #044aa0;
}


.site_links{
	position: absolute;
	top: 23%;
    right: 0%;
}

.details_social{
	margin: 0px 20px;
	width: 38px;
	height: 38px;
	fill:#0855d2;
	transition: all 0.5s;
}

.details_social:hover{
	fill:#044aa0;
	transition: all 0.5s;

}


.pic-view{
	width: 100%;
	height: 65%;
	display: flex;
	/*justify-content: space-between;*/
	background-color: #00000010;
	border:1px solid #a5c7f1;

}


.pic-view >img{
	width: 65%;
	height: 100%;

}


.overview{
	width: 35%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 30px;
}



.overview p{
	margin-top:5px;
	letter-spacing: 0.5px;
	/*word-spacing: 1px;*/
	line-height: 25px;
	text-align: justify;

}

.icon{
	width:40px;
	height: 40px;
	vertical-align: middle;
	margin-right: 30px;

}



/*.trip{
	width: 65%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px; 
	border:2px solid #044aa0;
}

.trip-des{
	margin-bottom: 20px;
}*/

.book_now{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	/*border:1px solid black;*/
	margin-top: 30px;
}

.book_btn{
	width: 500px;
    height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #044aa0;
	transition: all 0.5s;

}

.book_btn > a{
	text-transform: uppercase;
	color: white;
	padding: 5px; 
	font-size: 22px;
	letter-spacing: 1px;
	border:none;
	transition: all 0.5s;


}

.book_btn:hover{
	background-color: #000000d4;
	transition: all 0.5s;

}


.related{
	width: 83%;
	height: auto;
	/*border:1px solid black;*/
	margin-top: 60px;
	padding: 18px;


}

.related > h1{
	font-size: 60px;
	font-weight:500;
}


.related > h1::first-letter{
	font-size: 70px;
	color:#044aa0 ;
}

.tours{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	/*justify-content: center;*/
	/*border:1px solid black;*/

}


/*.tours a {
	display:block;

}*/


.tours h2 , small{
	margin:12px 0px 15px 17px; 
}

.tour-item{
	width: 22%;
	height: 300px;
	border:0.5px solid #b1c4ec99;
	margin:15px;
	box-shadow:0px 0px 10px 1px #b1c4ec99;;
	/*text-align: left;*/
	position: relative;


}

.tour-img{
	width: 100%;
	height: 55.7%;
	object-fit: cover;
	object-position: center;
}

.tour-book{
	width: 100%;
	height: 11.5%;
	/*border:1px solid black;*/
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tour-book button{
	width: 65%;
	height: 100%;
	border:none;
	letter-spacing:1.5px;
	font-weight: 700;
	font-size: 18px;
	transition: all 0.5s;
	color: white;
	text-align: center;
	position: relative;
	background-color:#044aa0;

}
.tour-book button:hover{
	background-color:#000000d4;
	transition: all 0.5s;
}

.triangle-right {
	position: absolute;
    top: -3%;
    left: -3%;
    border-top: 20px solid transparent;
    border-left: 25px solid white;
    border-bottom: 20px solid transparent;
    }




.rating{
	width: 100%;
	height: 5%;
	/*border:1px solid black;*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 20px;


}

.stars{
	width: 60px;
	height: 80px;
	margin-left: 15px;
	/*position: absolute;*/
	/*bottom: 25px;*/
	/*right: 10px;*/
}


