*{
	font-family: 'Jura',cursive;
	font-weight: 700;
	padding: 0px;
	margin: 0px;
}



body{
	padding: 0px;
	margin: 0px;
}

.nav{
	width: 100%;
	height: 130px;
	/*position: sticky;
	top: 0px;*/

	/*border-bottom: 0.5px solid #212529;*/
}

.nav-top{
	width: 100%;
	height: 30%;
	color: white;
	display: flex;
	justify-content: space-around;
	font-size: 13px;
	background-color: #212529;
}
.nav-top p{
		margin: 0px 13px 0px 13px;
}


.left{
	width: 40%;
	display:flex;
	align-items: center;
	margin-left: 10px;
}

.right{
	width: 42%;
	display:flex;
	justify-content: flex-end;
	align-items: center;

}
.socials{
	margin: 0px 15px;
	width: 22px;
	height: 22px;
	fill:white;
	transition: all 0.7s;
}

.socials:hover{
	width: 25px;
	height: 25px;
	fill:#044aa0;
	transition: all 0.7s;

}


.nav-bot{
	width: 100%;
	height: 70%;
	display: flex;
	background-color: white;
	
	
}

.logo{
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}

.logot{
	color: black;
	font-size: 26px;
	letter-spacing: 2px;
	margin-right:10px ; 
	/*writing-mode: vertical-rl;*/
	/*text-orientation: upright;*/
}
.logot::first-letter{
	font-size: 45px;
	color:#044aa0 ;
}

.nav-links{
	width: 60%;
	display: flex;
	justify-content: space-around;
	align-items:center;
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 17px;
}

.nav-links a:hover{
	transform: scale(1.1);
	font-size: 18px;
	letter-spacing: 2px;
	transition: all 0.5s;
}


a{
text-decoration: none;
color:black;
transition: all 0.7s;


}


.book{
	width: 20%;
	height: 100%;
}


.book button{
	width: 70%;
	height: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	border: none;
	letter-spacing:1.5px;
	transition: all 0.5s;
	color: white;
	background-color:#044aa0;
	margin-left: 15px;
}

.book button:hover{
	background-color:#000000d4;
	transition: all 0.5s;
}


.nav-bot img{
	width: 100px;
	height: 100px;
	
}



.main{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}


.panel_title{
	width: 100%;
	height:70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #044aa0;
	color: white;
	margin:10px;
	padding-bottom: 10px;
}


.form{
	width: 35%;
	height: auto;
	/*text-align: justify-all;*/
	margin:10px;
	padding:10px;
	/*border:1px solid black;*/
	font-size:20px;
	background-color:#f0f9ff;
}

.form input{
	width: 300px;
	height: 25px;
}

.sub{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

label{
    display: inline-block;
    width: 150px;
}